body{
background:#050505;
color:white;
font-family:Arial,sans-serif;
}



.title{

text-align:center;
font-size:40px;
margin:50px;

}



.team-image{

width:900px;

margin:auto;

position:relative;

}



.team-image img{

width:900px;

display:block;

border:2px solid red;

box-shadow:0 0 30px red;

}





.player-zone{

position:absolute;

top:200px;

width:210px;

height:550px;

}





.qcoid{

left:0;

}



.simon{

left:225px;

}



.hatred{

left:450px;

}



.kyosyke{

left:675px;

}






.card{

position:absolute;

top:330px;

left:0;

width:260px;

background:rgba(0,0,0,.95);

border:2px solid red;

padding:20px;

opacity:0;

transform:translateY(30px);

transition:.3s;

z-index:5;

}




.player-zone:hover .card{

opacity:1;

transform:translateY(0);

}




.card h2{

color:red;

text-align:center;

}



.card p{

font-size:15px;

line-height:1.4;

}





footer{

margin-top:80px;

text-align:center;

border-top:1px solid red;

padding:20px;

}
