body{
background:#050505;
color:white;
font-family:Arial, sans-serif;
}



.title{
text-align:center;
margin:50px;
font-size:40px;
}



.roster{

width:900px;
margin:auto;

display:flex;
justify-content:center;
gap:0;

position:relative;

}



.player{

position:relative;

width:225px;

cursor:pointer;

}



.player img{

width:900px;

height:auto;

display:block;

}



.player .info{

position:absolute;

top:390px;
left:-40px;

width:260px;

background:rgba(0,0,0,0.95);

border:2px solid red;

padding:20px;

opacity:0;

transform:translateY(30px);

transition:0.3s;

z-index:10;

}



.player:hover .info{

opacity:1;

transform:translateY(0);

}



.info h2{

color:red;

text-align:center;

}



.info p{

font-size:15px;

line-height:1.4;

}



footer{

margin-top:80px;

text-align:center;

border-top:1px solid red;

padding:20px;

}
