body{

background:#050505;

color:white;

font-family:Arial;

}



header{

text-align:center;

padding:30px;

border-bottom:2px solid red;

}



nav a{

color:red;

margin:15px;

text-decoration:none;

}



.title{

text-align:center;

margin:40px;

font-size:40px;

}



.roster{

display:flex;

justify-content:center;

}



.player{

position:relative;

width:900px;

cursor:pointer;

}



.player img{

width:100%;

display:block;

border:2px solid red;

box-shadow:0 0 30px red;

}




.info{

position:absolute;

bottom:20px;

right:20px;


background:rgba(0,0,0,.9);

border:2px solid red;


padding:25px;

width:300px;


opacity:0;


transform:translateY(30px);

transition:.4s;


}



.player:hover .info{

opacity:1;

transform:translateY(0);

}



.info h2{

color:red;

font-size:30px;

}



.info p{

margin:8px;

}
