*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}


body{

background:#050505;
color:white;

}


header{

padding:30px;
text-align:center;

border-bottom:2px solid red;

}


header h1{

font-size:45px;
color:white;

}


header p{

color:#aaa;
margin:10px;

}



nav a{

color:red;
text-decoration:none;
margin:15px;
font-size:20px;

}


nav a:hover{

color:white;

}



main{

max-width:1200px;
margin:auto;

}



.hero{

height:400px;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;


background:
linear-gradient(
rgba(0,0,0,.6),
rgba(0,0,0,.8)
),
url("../images/roster.png");


background-size:cover;
background-position:center;


}



.hero h2{

font-size:45px;

}


.hero p{

font-size:20px;
margin-top:20px;

}




.team,
.about{

padding:50px;
text-align:center;

}



.button{

display:inline-block;

margin-top:25px;

padding:15px 40px;

background:red;

color:white;

text-decoration:none;

border-radius:10px;

font-size:20px;

}


.button:hover{

background:white;
color:red;

}



footer{

text-align:center;

padding:30px;

border-top:1px solid red;

color:#777;

}
/* NEWS + MATCHES */

h2{

text-align:center;
font-size:40px;
margin-top:40px;

}



.news-card,
.match-card{


width:700px;

margin:40px auto;

padding:25px;


background:rgba(0,0,0,0.8);


border:2px solid red;


box-shadow:
0 0 20px red;


transition:.3s;


}



.news-card:hover,
.match-card:hover{


transform:scale(1.03);


box-shadow:
0 0 40px red;


}



.news-card h3,
.match-card h3{


color:red;

font-size:24px;


}



.news-card p,
.match-card p{


color:white;

font-size:16px;

line-height:1.5;


}



.subtitle{


text-align:center;

color:red;

font-size:28px;

margin-top:50px;


}
