*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}


body{

background:#050505;
color:white;

}


header{

padding:30px;
text-align:center;

border-bottom:2px solid red;

}


header h1{

font-size:45px;
color:white;

}


header p{

color:#aaa;
margin:10px;

}



nav a{

color:red;
text-decoration:none;
margin:15px;
font-size:20px;

}


nav a:hover{

color:white;

}



main{

max-width:1200px;
margin:auto;

}



.hero{

height:400px;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;


background:
linear-gradient(
rgba(0,0,0,.6),
rgba(0,0,0,.8)
),
url("../images/roster.png");


background-size:cover;
background-position:center;


}



.hero h2{

font-size:45px;

}


.hero p{

font-size:20px;
margin-top:20px;

}




.team,
.about{

padding:50px;
text-align:center;

}



.button{

display:inline-block;

margin-top:25px;

padding:15px 40px;

background:red;

color:white;

text-decoration:none;

border-radius:10px;

font-size:20px;

}


.button:hover{

background:white;
color:red;

}



footer{

text-align:center;

padding:30px;

border-top:1px solid red;

color:#777;

}
