body{

margin:0;

background:#000;

font-family:Arial, sans-serif;

}



.roster-page{

width:100%;

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

}



.roster-box{

position:relative;

width:1200px;

}



.roster-img{

width:100%;

display:block;

}





.player{

position:absolute;

width:200px;

height:350px;

cursor:pointer;

}





.info{


position:absolute;

top:250px;

left:50%;


transform:translateX(-50%);


width:270px;


background:#080000;


border:2px solid red;


border-radius:15px;


padding:20px;


color:white;


text-align:center;


box-shadow:0 0 25px red;


opacity:0;


transition:.35s;


z-index:10;


}





.player:hover .info{


opacity:1;


top:180px;


}




.info h2{


color:red;


font-size:25px;


margin-top:0;


}





/* позиции игроков */


.qco1d{

left:7%;

top:35%;

}



.s1mon{

left:29%;

top:35%;

}




.hatred{

left:50%;

top:35%;

}





.kyosyke{

left:72%;

top:35%;

}
