/* ОСНОВА */

body {
    background:#050505;
    color:white;
    font-family:Arial, sans-serif;
}



/* КАРТИНКА СОСТАВА */

.team-photo {

    position:relative;

    width:90%;

    max-width:1400px;

    margin:40px auto;

}


.team-photo img {

    width:100%;

    display:block;

    border:2px solid red;

    box-shadow:0 0 30px red;

}





/* ОБЛАСТЬ ИГРОКА */

.player {

    position:absolute;

    height:70%;

    width:18%;

    cursor:pointer;

    z-index:5;

    transition:0.3s;

}



.player:hover {

    filter:drop-shadow(0 0 25px red);

    transform:scale(1.05);

}




/* ПОЗИЦИИ ИГРОКОВ */

.qco1d {

    left:5%;

    top:20%;

}


.hatred {

    left:38%;

    top:15%;

}


.s1mon {

    left:60%;

    top:20%;

}


.kysoyke {

    right:5%;

    top:20%;

}






/* КАРТОЧКА */

.card {

    position:absolute;


    left:50%;

    bottom:-140px;


    transform:translateX(-50%) translateY(20px);



    width:300px;


    background:

    rgba(0,0,0,0.95);



    border:2px solid red;


    border-radius:15px;



    padding:20px;


    text-align:center;



    opacity:0;

    visibility:hidden;



    transition:0.35s;



    z-index:100;



    box-shadow:

    0 0 25px red;


}





/* ЗАГОЛОВОК */

.card h3 {

    color:red;

    font-size:32px;

    margin-bottom:15px;

    letter-spacing:3px;

}



/* ТЕКСТ */

.card p {

    font-size:17px;

    line-height:1.5;

    color:white;

}





/* ПОКАЗ ПРИ НАВЕДЕНИИ */


.player:hover .card {


    opacity:1;


    visibility:visible;


    transform:translateX(-50%) translateY(0);


}






/* АДАПТАЦИЯ */

@media(max-width:800px){


.card {

    width:220px;

    font-size:14px;

}


.player {

    width:22%;

}


}
